header nav,
#hero,
main section {
    text-align: center;
}

header {
    background: rgba(93, 92, 103, 0.65);
    display: grid;
    grid-template-columns: 150px auto;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    color: #fff;
    padding: 20px 40px;
}

nav a:hover {
    background-color: #b1e5f2;
    color: #272635;
}

#logo_link {
    justify-self: center;
    align-self: center;
    padding-top: 5px;
}

#logo_link:hover {
    background-color: transparent;
}

.logo {
    max-width: 100%;
}