.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    margin-top: 20px;
}

.home-grid img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}

#background {
    height: 725px;
    grid-column: 1/11;
    grid-row: 4/9;
    margin-top: 60px;
}

.mountains {
    grid-column: 2/7;
    grid-row: 5/8;
}

.msg {
    background: rgba(166, 166, 168, 0.85);
    grid-column: 6/10;
    grid-row: 6/7;
    padding: 20px;
    box-shadow: 5px 5px 10px #3B3A47;
}

.page-title h1 {
    color: #666;
    font-family: 'Ubuntu Condensed';
    font-size: 27px;
    text-align: center;
    text-transform: uppercase;
}

.home-grid article {
    display: grid;
    grid-column: 2/10;
    grid-template-columns: repeat(8, 1fr);
    margin-top: 20px;
}

.home-grid article:last-child {
    margin-bottom: 40px;
}

.home-grid article h3 {
    color: #272635;
    font-size: 19px;
    grid-column: 1/5;
}

.left-image {
    grid-column: 1/4;
}

.right-text {
    grid-column: 5/9;
    position: relative;
}

.right-text a,
.left-text a {
    bottom: 0;
    position: absolute;
}

.right-text p {
    margin-top: 0;
}

.left-text {
    grid-column: 1/5;
    position: relative;
}

.right-image {
    grid-column: 6/9;
}