@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Sofia+Sans&family=Ubuntu+Condensed&display=swap');
@import url('header.css');
@import url('hero.css');
@import url('main.css');
@import url('forms.css');
@import url('footer.css');

body {
    font-family: 'Sofia Sans', 'Ubuntu Condensed', Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

h2 {
    color: #272635;
    font-size: 32px;
}

img {
    max-width: 100%;
}

#content {
    margin: 0 auto;
    max-width: 1600px;
}

.icon img {
    width: 40px;
}

.home-title {
    font-family: 'Courgette';
    font-size: 48px;
}

.home-grid img {
    border: 2px solid #e8e9f3;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }

    .right-text a,
    .left-text a {
        position: relative;
    }
}