@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Oswald:wght@300&display=swap');
@import url('slides.css');

* {
    box-sizing:border-box
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Montserrat';
    margin: 0 auto;
}

a {
    font-family: 'Oswald';
    text-decoration: none;
}

img {
    max-width: 100%;
}

header,
main,
footer > div {
    margin: 0 auto;
    max-width: 1280px;
}

header {
    display: grid;
    grid-template-columns: 160px 1fr;
}

nav {
    align-items: center;
    display: flex;
    margin-left: auto;
}

nav a {
    color: #181a1e;
    font-size: 19px;
    padding: 0 40px;
}

nav a:last-child {
    padding-right: 0;
}

nav a:hover {
    color: #355675;
    text-decoration: underline;
}

.hero {
    margin-bottom: 20px;
}

.hero img {
    min-height: 70%;
    min-width: 100%;
}

main {
    column-gap: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    row-gap: 20px;
}

.list {
    display: block;
}

main a {
    color: #181a1e;
}

main a:hover {
    color: #355675
}

.restaurants {
    margin: 20px 0;
}

.search {
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 10px;
    padding: 5px;
}

.search input {
    font-family: 'Montserrat';
    border: none;
}

.search input:focus {
    outline: none;
}

.filter {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 6px;
}

.filter:focus {
    outline: none;
}

.restaurants img {
    border: 1px solid #355675;
    border-radius: 5px;
    padding: 2px;
}

.restaurants article {
    margin-bottom: 40px;
}

.restaurants article {
    column-gap: 20px;
    display: grid;
    grid-template-columns: 330px 1fr;
}

.restaurants .reverse {
    column-gap: 20px;
    display: grid;
    grid-template-columns: 1fr 330px;
}

.restaurants h3 {
    margin-top: 0;
}

.description {
    position: relative;
}

.description > div {
    bottom: 0;
    position: absolute;
}

.description > div a {
    padding: 0 20px;
}

.description > div a:first-child {
    padding-left: 0;
}

.visit-place {
    display: block;
    margin-top: 40px;
}

.visit-place > div {
    column-gap: 20px;
    display: grid;
    grid-template-columns: 530px 1fr;
}

.visit-place > div img {
    border: 1px solid #355675;
    border-radius: 5px;
    padding: 2px;
}

.visit-place > div h3 {
    margin-top: 0;
}

.visit-place > div div {
    position: relative;
}

.visit-place > div div div:last-child {
    bottom: 0;
    position: absolute;
}

.visit-place > div div div:last-child a {
    padding: 0 20px;
}

.visit-place > div div div:last-child a:first-child {
    padding-left: 0;
}

.comments > div {
    column-gap: 20px;
    display: grid;
    grid-template-columns: 60px 70% 1fr;
}

.comments > div i {
    color: #355675;
}

.comments > div p {
    border: 2px solid #355675;
    border-radius: 5px;
    padding: 10px;
}

.add-comment {
    margin: 40px 0;
    position: relative;
}

.add-comment textarea {
    display: block;
    height: 250px;
    margin-bottom: 20px;
    width: 700px;
}

.add-comment button {
    position: relative;
    left: 600px;
}

footer {
    background-color: #355675;
    color: #fff;
    padding: 20px 0;
}

.nav-footer,
.social-media {
    margin: 20px auto;
    text-align: center;
}

.nav-footer a {
    color: #ccc;
    padding: 0 20px;
}

.nav-footer a:hover,
.social-media a:hover {
    color: #fff;
}

.social-media {
    display: grid;
    grid-template-columns: 25% repeat(5, 1fr) 25%;
}

.social-media a {
    color: #ccc;
}

.copy {
    font-weight: 700;
    padding: 20px 0;
    text-align: center;
}